---
import { Image } from "astro:assets";
import GithubIcon from "../assets/icons/github.svg";
import Footer from "../components/Footer.astro";
import AsciiImage from "../components/AsciiImage.astro";
import GithubProjects from "../components/GithubProjects.astro";
import Ping from "../components/Ping.astro";
import Layout from "../layouts/main.astro";
import InfoCard from "../components/InfoCard.astro";

import { getUrl } from "../utils";
import { projectList } from "../data";
---

<Layout content={{ title: "Kirshway" }}>
  <main class="flex-auto min-w-0 mt-6 flex flex-col px-2 md:px-0">
    <div class="container mx-auto p-4 grow">
      <section class="gap-6 flex flex-col items-center sm:flex-row">
        <AsciiImage />
        <div class="flex flex-col gap-2">
          <h1 class="text-4xl font-bold">Kirshway</h1>
          <p class="text-lg font-semibold text-[#888]">Viktor Nemets</p>

          <div class="flex items-center gap-2">
            <Ping variant="main" />

            <p class="text-[#a77fc5] text-sm">
              Working on interesting projects
            </p>
          </div>

          <p class="text-sm">
            Graduate with a degree in "Information Systems and Technologies".
            I'm passionate about technology and reading, occasionally getting
            immersed in books or gaming.
          </p>
        </div>
      </section>

      <div class="my-8 grid grid-cols-1 gap-8 md:grid-cols-2">
        <section>
          <p class="text-2xl font-semibold mb-6 text-[#a77fc5]">Work</p>
          <div class="mb-4">
            <a
              href="https://intelsy.ru/"
              class="text-xl font-semibold link-style"
              target="_blank"
              rel="noopener noreferrer"
            >
              Intelsy
            </a>
          </div>
        </section>

        <section>
          <p class="text-2xl font-semibold mb-6 text-[#a77fc5]">Projects</p>

          <div class="flex flex-col gap-4">
            {
              projectList.map((project) => (
                <GithubProjects
                  name={project.name}
                  url={project.url}
                  description={project.description}
                  tech={project.tech}
                />
              ))
            }

            <a
              href="https://github.com/KirshWay"
              class="link-style mt-4"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="flex gap-2 items-center">
                <GithubIcon width="24" height="24" />
                all projects →
              </span>
            </a>
          </div>
        </section>
      </div>

      <section class="flex flex-col gap-2 my-8">
        <p class="text-2xl font-semibold mb-2 text-[#a77fc5]">Coding stats</p>

        <div
          class="grid grid-cols-2 grid-rows-2 sm:grid-cols-2 sm:grid-rows-2 md:grid-cols-4 md:grid-rows-1 gap-2"
        >
          <InfoCard title="Main editor" content="Cursor AI" />
          <InfoCard title="Second editor" content="Zed editor" />
          <InfoCard title="Main frontend framework" content="React + Next.js" />
          <InfoCard title="Main backend framework" content="Nest.js" />
        </div>

        <div
          class="bg-[#655953] p-2 rounded-xl transition-all duration-200 ease-in-out hover:scale-103 hover:-translate-y-1"
        >
          <img
            id="github-stats"
            src="https://github-readme-stats.vercel.app/api/top-langs/?username=KirshWay&layout=compact&theme=gruvbox&hide_border=true&bg_color=3c3836&title_color=a77fc5&text_color=fbf1c7&cache_seconds=1800"
            alt="Most used languages"
            width="100%"
            height="auto"
          />
        </div>
      </section>

      <section class="flex flex-col gap-2 my-8">
        <p class="text-2xl font-semibold mb-2 text-[#a77fc5]">
          Professional Development
        </p>

        <div>
          <Image
            width={40}
            height={40}
            src={getUrl("meme.gif")}
            priority
            loading="eager"
            fetchpriority="high"
            alt="meme"
          />

          <div class="bg-[#655953] p-6 rounded-xl">
            <div class="my-4 grid grid-cols-1 gap-8 md:grid-cols-2">
              <div>
                <span class="font-semibold text-xl">
                  Topical skills and training
                </span>

                <ul class="flex flex-col gap-2 mt-4">
                  <li class="flex gap-2 items-center">
                    <Ping variant="green" />
                    <span>Team Leadership</span>
                  </li>
                  <li class="flex gap-2 items-center">
                    <Ping variant="green" />
                    <span>Docker + CI/CD</span>
                  </li>
                  <li class="flex gap-2 items-center">
                    <Ping variant="green" />
                    <span>Python</span>
                  </li>
                </ul>
              </div>

              <div>
                <span class="font-semibold text-xl">
                  Future areas of interest
                </span>

                <ul class="flex flex-col gap-2 mt-4">
                  <li class="flex gap-2 items-center">
                    <Ping variant="gray" />
                    <span>tRPC</span>
                  </li>
                  <li class="flex gap-2 items-center">
                    <Ping variant="gray" />
                    <span>Hono.js</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <Footer />
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const statsImage = document.getElementById("github-stats");
    if (statsImage) {
      const timestamp = new Date().getTime();
      const currentSrc = statsImage.getAttribute("src");

      if (currentSrc) {
        const newSrc = currentSrc.includes("t=")
          ? currentSrc.replace(/t=\d+/, `t=${timestamp}`)
          : `${currentSrc}&t=${timestamp}`;

        statsImage.setAttribute("src", newSrc);
      }
    }
  });
</script>
