---
import GithubIcon from '@assets/icons/github.svg';
import Ping from '@components/Ping.astro';

import type { Variant } from '@/data';

const { name, url, description, tech } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-col md:flex-row p-4 rounded-md text-gray-300 bg-component-primary border-l-4 border-accent-secondary transition-all duration-300 ease-in-out hover:bg-component-primary-hover hover:shadow-lg hover:shadow-accent-secondary/50 h-full"
>
  <div class="flex items-center justify-center shrink-0 md:mr-4">
    <GithubIcon width="32" height="32" class="text-accent-secondary" />
  </div>

  <div class="flex flex-col flex-grow">
    <p class="flex items-center gap-2 font-semibold text-xl">{name}</p>

    <p class="mt-1 mb-2">{description}</p>

    <div class="flex flex-wrap gap-1.5 mt-auto">
      {
        tech.map((tech: { id: string; name: string; color: Variant }) => (
          <span class="inline-flex items-center px-2 py-0.5 rounded-full text-xs bg-component-secondary border border-accent-secondary">
            <Ping variant={tech.color} />
            <span class="ml-1.5">{tech.name}</span>
          </span>
        ))
      }
    </div>
  </div>
</a>
